<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gwlx</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>业务类</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>业务运营类</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>风控类</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>其他</string>
		</dict>
	</array>
	<key>zgxl</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>本科</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>专科</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>硕士</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>博士</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>NAME</key>
			<string>高中及其以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>15</string>
			<key>NAME</key>
			<string>其他</string>
		</dict>
	</array>
	<key>gzjy</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>一年以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>1-2年</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>3-5年</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>5-8年</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>NAME</key>
			<string>其他</string>
		</dict>
	</array>
	<key>qwxz</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>3000以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>3000-5000</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>5000-8000</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>8000-10000</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>NAME</key>
			<string>10000以上</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>15</string>
			<key>NAME</key>
			<string>其他</string>
		</dict>
	</array>
	<key>sex</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>全部</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>男</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>女</string>
		</dict>
	</array>
	<key>age</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>18岁以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>18-40岁</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>41-60岁</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>60岁以上</string>
		</dict>
	</array>
	<key>daikuaiJine</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>10万以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>10-50万</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>51-100万</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>100-500万</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>NAME</key>
			<string>500万以上</string>
		</dict>
	</array>
	<key>daikuaiTime</key>
	<array>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>7天以下</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>7-15天</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>15-30天</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>1-3个月</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>14</string>
			<key>NAME</key>
			<string>3-6个月</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>15</string>
			<key>NAME</key>
			<string>6-12个月</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>16</string>
			<key>NAME</key>
			<string>12个月以上</string>
		</dict>
	</array>
	<key>jiedanTime</key>
	<array>
		<dict>
			<key>ID</key>
			<string>01</string>
			<key>NAME</key>
			<string>全部</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>10</string>
			<key>NAME</key>
			<string>今天</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>11</string>
			<key>NAME</key>
			<string>最近3天</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>12</string>
			<key>NAME</key>
			<string>最近7天</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>13</string>
			<key>NAME</key>
			<string>最近30天</string>
		</dict>
	</array>
</dict>
</plist>
