<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>key</key>
			<string>11</string>
			<key>imagename</key>
			<string>item_01</string>
			<key>title</key>
			<string>银行信贷</string>
		</dict>
		<dict>
			<key>key</key>
			<string>12</string>
			<key>imagename</key>
			<string>item_02</string>
			<key>title</key>
			<string>银行抵押</string>
		</dict>
		<dict>
			<key>key</key>
			<string>13</string>
			<key>imagename</key>
			<string>item_03</string>
			<key>title</key>
			<string>民间信贷</string>
		</dict>
		<dict>
			<key>key</key>
			<string>14</string>
			<key>imagename</key>
			<string>item_04</string>
			<key>title</key>
			<string>民间抵押</string>
		</dict>
		<dict>
			<key>key</key>
			<string>21</string>
			<key>imagename</key>
			<string>item_05</string>
			<key>title</key>
			<string>银行信贷</string>
		</dict>
		<dict>
			<key>key</key>
			<string>22</string>
			<key>imagename</key>
			<string>item_06</string>
			<key>title</key>
			<string>银行抵押</string>
		</dict>
		<dict>
			<key>key</key>
			<string>23</string>
			<key>imagename</key>
			<string>item_07</string>
			<key>title</key>
			<string>民间信贷</string>
		</dict>
		<dict>
			<key>key</key>
			<string>24</string>
			<key>imagename</key>
			<string>item_08</string>
			<key>title</key>
			<string>民间抵押</string>
		</dict>
		<dict>
			<key>key</key>
			<string>31</string>
			<key>imagename</key>
			<string>item_09</string>
			<key>title</key>
			<string>零首付</string>
		</dict>
		<dict>
			<key>key</key>
			<string>32</string>
			<key>imagename</key>
			<string>item_010</string>
			<key>title</key>
			<string>短拆过桥</string>
		</dict>
		<dict>
			<key>key</key>
			<string>33</string>
			<key>imagename</key>
			<string>item_011</string>
			<key>title</key>
			<string>信用卡相关</string>
		</dict>
		<dict>
			<key>key</key>
			<string>34</string>
			<key>imagename</key>
			<string>item_012</string>
			<key>title</key>
			<string>其他</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imagename</key>
			<string>item_21</string>
			<key>title</key>
			<string>附近同行</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_22</string>
			<key>title</key>
			<string>同行交流会</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_23</string>
			<key>title</key>
			<string>车价评估</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_24</string>
			<key>title</key>
			<string>意见反馈</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_25</string>
			<key>title</key>
			<string>接单</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_26</string>
			<key>title</key>
			<string>甩单</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_27</string>
			<key>title</key>
			<string>求职</string>
		</dict>
		<dict>
			<key>imagename</key>
			<string>item_28</string>
			<key>title</key>
			<string>招聘</string>
		</dict>
	</array>
</array>
</plist>
